
<br>
<div class="right">
  <a [routerLink]="['/app/company']" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add
    Company</a>
</div><br>
<div class="detail-container">
  <nz-table nzSize="small" 
 >
    <thead>
      <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let data of currencyTable.data; let i = index;"> -->
      <tr *ngFor="let data of Record;let i = index;">
        <td>{{i+1}}</td>
        <td>{{data.company_name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.longitude}}</td>
        <td>{{data.latitude}}</td>
        <td>{{data.phone_number}}</td>
        <td>{{data.status}}</td>
        <td>
          <a [routerLink]="['/app/company']" (click)="editCompany(data.id)">Edit</a>
        </td>


      </tr>

    </tbody>
  </nz-table>
</div>