/* @import "colors";
@import "base"; */
/* :host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  } */
  i {
    cursor: pointer;
  }

  .inline {
    display: flex;
    justify-content: space-evenly;
  }

  .inline-last {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }

  .inline-map {
    display: flex;
    margin-left: 6.2%;
  }


  input {
      width: 400px !important;
  }
  
  .actions {
      margin-right: 6% !important;
  }

  agm-map {
    height: 300px;
}

.location {
  border-color: #efefef45 !important;
  height: 33px !important;
}